<!DOCTYPE html>
<html>
<head>
    <title>Panel Admin</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;400i;700&display=swap">    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    
 <div class="wrapper">
    <partial name="_Navbar" />
    <partial name="_Sidebar" />
    <div class="content-wrapper bg-claro">
        <div class="container w-75">
            @await Html.PartialAsync("_ValidationSummary")
        </div>
        @RenderBody()
    </div>
    <partial name="_Footer" />

 </div>

    <script src="~/adminlte/plugins/jquery/jquery.js"></script>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <script>
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: "toast-top-right",
            timeOut: 3000
        };
    </script>

    @await Html.PartialAsync("_Toastr")

    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="~/adminlte/dist/js/adminlte.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    
